* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  width: 100vw;
}

li,
button {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end; */
  align-items: center;
  padding: 30px 10%;
  background-color: grey;
  height: 80px;
}

.app_title {
  color: aqua;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:hover {
  color: orange;
}

.current_link {
  color: orange;
  border-bottom: 2px solid orange;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.content_container {
  height: calc(100vh - 80px);
  /* background-image: url(./img/black_white_hand.jpg);
  background-size: cover;
  background-position: center; */
  /* padding: 30px 10%; */
}

.homepage_content {
  position: absolute;
  padding: 30px;
  top: 35%;
  left: 50%;
}

/* .content_title,
.content_details {
  margin: 10px;
  color: #fff;
} */
